# Importing libraries

In [4]:
import pandas as pd
import numpy as np

In [57]:
db = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv')
# dataset from kaggle
df =db

In [6]:
db.info 
# shows basic info

<bound method DataFrame.info of            City    Year      Sport       Discipline                   Event  \
0      Montreal  1976.0   Aquatics           Diving          3m springboard
1      Montreal  1976.0   Aquatics           Diving          3m springboard
2      Montreal  1976.0   Aquatics           Diving          3m springboard
3      Montreal  1976.0   Aquatics           Diving          3m springboard
4      Montreal  1976.0   Aquatics           Diving            10m platform
5      Montreal  1976.0   Aquatics           Diving            10m platform
6      Montreal  1976.0   Aquatics           Diving            10m platform
7      Montreal  1976.0   Aquatics           Diving          3m springboard
8      Montreal  1976.0   Aquatics           Diving            10m platform
9      Montreal  1976.0   Aquatics           Diving            10m platform
10     Montreal  1976.0   Aquatics           Diving            10m platform
11     Montreal  1976.0   Aquatics           Diving          3m springboard
12     Montreal  1976.0   Aquatics         Swimming  4x100m freestyle relay
13     Montreal  1976.0   Aquatics         Swimming          400m freestyle
14     Montreal  1976.0   Aquatics         Swimming  4x100m freestyle relay
15     Montreal  1976.0   Aquatics         Swimming         1500m freestyle
16     Montreal  1976.0   Aquatics         Swimming  400m individual medley
17     Montreal  1976.0   Aquatics         Swimming     4x100m medley relay
18     Montreal  1976.0   Aquatics         Swimming          800m freestyle
19     Montreal  1976.0   Aquatics         Swimming          800m freestyle
20     Montreal  1976.0   Aquatics         Swimming  4x100m freestyle relay
21     Montreal  1976.0   Aquatics         Swimming         200m backstroke
22     Montreal  1976.0   Aquatics         Swimming          400m freestyle
23     Montreal  1976.0   Aquatics         Swimming  400m individual medley
24     Montreal  1976.0   Aquatics         Swimming     4x100m medley relay
25     Montreal  1976.0   Aquatics         Swimming          200m freestyle
26     Montreal  1976.0   Aquatics         Swimming          100m butterfly
27     Montreal  1976.0   Aquatics         Swimming         100m backstroke
28     Montreal  1976.0   Aquatics         Swimming         100m backstroke
29     Montreal  1976.0   Aquatics         Swimming         100m backstroke
...         ...     ...        ...              ...                     ...
15403   Beijing  2008.0  Wrestling  Wrestling Free.               74 - 84kg
15404   Beijing  2008.0  Wrestling  Wrestling Free.               55 - 63kg
15405   Beijing  2008.0  Wrestling  Wrestling Free.               48 - 55kg
15406   Beijing  2008.0  Wrestling  Wrestling Gre-R               66 - 74kg
15407   Beijing  2008.0  Wrestling  Wrestling Gre-R              96 - 120kg
15408   Beijing  2008.0  Wrestling  Wrestling Gre-R               66 - 74kg
15409   Beijing  2008.0  Wrestling  Wrestling Gre-R                  - 55kg
15410   Beijing  2008.0  Wrestling  Wrestling Gre-R               55 - 60kg
15411   Beijing  2008.0  Wrestling  Wrestling Gre-R               55 - 60kg
15412   Beijing  2008.0  Wrestling  Wrestling Gre-R                  - 55kg
15413   Beijing  2008.0  Wrestling  Wrestling Gre-R               84 - 96kg
15414   Beijing  2008.0  Wrestling  Wrestling Gre-R               74 - 84kg
15415   Beijing  2008.0  Wrestling  Wrestling Gre-R               60 - 66kg
15416   Beijing  2008.0  Wrestling  Wrestling Gre-R               60 - 66kg
15417   Beijing  2008.0  Wrestling  Wrestling Gre-R               60 - 66kg
15418   Beijing  2008.0  Wrestling  Wrestling Gre-R               55 - 60kg
15419   Beijing  2008.0  Wrestling  Wrestling Gre-R               74 - 84kg
15420   Beijing  2008.0  Wrestling  Wrestling Gre-R               84 - 96kg
15421   Beijing  2008.0  Wrestling  Wrestling Gre-R               84 - 96kg
15422   Beijing  2008.0  Wrestling  Wrestling Gre-R                  - 55kg
15423   Beijing  2008.0  Wrestling  Wrestling Gre-R               74 - 84kg
15424   Beijing  2008.0  Wrestling  Wrestling Gre-R              96 - 120kg
15425   Beijing  2008.0  Wrestling  Wrestling Gre-R                  - 55kg
15426   Beijing  2008.0  Wrestling  Wrestling Gre-R               84 - 96kg
15427   Beijing  2008.0  Wrestling  Wrestling Gre-R              96 - 120kg
15428   Beijing  2008.0  Wrestling  Wrestling Gre-R               66 - 74kg
15429   Beijing  2008.0  Wrestling  Wrestling Gre-R               66 - 74kg
15430   Beijing  2008.0  Wrestling  Wrestling Gre-R               55 - 60kg
15431   Beijing  2008.0  Wrestling  Wrestling Gre-R               60 - 66kg
15432   Beijing  2008.0  Wrestling  Wrestling Gre-R              96 - 120kg

                         Athlete Gender Country_Code        Country  \
0                K�HLER, Christa  Women          GDR   East Germany
1            KOSENKOV, Aleksandr    Men          URS   Soviet Union
2           BOGGS, Philip George    Men          USA  United States
3       CAGNOTTO, Giorgio Franco    Men          ITA          Italy
4         WILSON, Deborah Keplar  Women          USA  United States
5              LOUGANIS, Gregory    Men          USA  United States
6         VAYTSEKHOVSKAYA, Elena  Women          URS   Soviet Union
7      POTTER-MCINGVALE, Cynthia  Women          USA  United States
8                 DIBIASI, Klaus    Men          ITA          Italy
9              ALEINIK, Vladimir    Men          URS   Soviet Union
10       KNAPE-LINDBERGH, Ulrika  Women          SWE         Sweden
11        CHANDLER, Jennifer Kay  Women          USA  United States
12     BABASHOFF, Shirley Farber  Women          USA  United States
13          SHAW, Timothy Andrew    Men          USA  United States
14                PRIEMER, Petra  Women          GDR   East Germany
15              HOLLAND, Stephen    Men          AUS      Australia
16               SMIRNOV, Andrei    Men          URS   Soviet Union
17               ANKE, Hannelore  Women          GDR   East Germany
18     BABASHOFF, Shirley Farber  Women          USA  United States
19                 TH�MER, Petra  Women          GDR   East Germany
20                SMITH, Rebecca  Women          CAN         Canada
21            ROCCA, Peter Drake    Men          USA  United States
22         GOODELL, Brian Stuart    Men          USA  United States
23      MCKEE, Alexander Timothy    Men          USA  United States
24                EVANS, Clayton    Men          CAN         Canada
25        MONTGOMERY, James Paul    Men          USA  United States
26         VOGEL, Matthew Haynes    Men          USA  United States
27               MATTHES, Roland    Men          GDR   East Germany
28          NABER, John Phillips    Men          USA  United States
29            ROCCA, Peter Drake    Men          USA  United States
...                          ...    ...          ...            ...
15403         ABDUSALOMOV, Yusup    Men          TJK     Tajikistan
15404          SHALYGINA, Yelena  Women          KAZ     Kazakhstan
15405             VERBEEK, Tonya  Women          CAN         Canada
15406           CHANG, Yongxiang    Men          CHN          China
15407       MIZGAITIS, Mindaugas    Men          LTU      Lithuania
15408            YANAKIEV, Yavor    Men          BUL       Bulgaria
15409          BAYRAMOV, Rovshan    Men          AZE     Azerbaijan
15410      TENGIZBAYEV, Nurbakyt    Men          KAZ     Kazakhstan
15411         ALBIEV, Islam-Beka    Men          RUS         Russia
15412              AMOYAN, Roman    Men          ARM        Armenia
15413         KHUSHTOV, Aslanbek    Men          RUS         Russia
15414              AVLUCA, Nazmi    Men          TUR         Turkey
15415         SIAMIONAU, Mikhail    Men          BLR        Belarus
15416         BEGALIEV, Kanatbek    Men          KGZ     Kyrgyzstan
15417           VARDANYAN, Armen    Men          UKR        Ukraine
15418         TIUMENBAEV, Ruslan    Men          KGZ     Kyrgyzstan
15419              FODOR, Zoltan    Men          HUN        Hungary
15420              WHEELER, Adam    Men          USA  United States
15421            MAMBETOV, Asset    Men          KAZ     Kazakhstan
15422             MANKIEV, Nazyr    Men          RUS         Russia
15423           MINGUZZI, Andrea    Men          ITA          Italy
15424            PATRIKEEV, Yuri    Men          ARM        Armenia
15425             PARK, Eun-Chul    Men          KOR   Korea, South
15426             ENGLICH, Mirko    Men          GER        Germany
15427             BAROEV, Khasan    Men          RUS         Russia
15428         GUENOT, Christophe    Men          FRA         France
15429        KVIRKELIA, Manuchar    Men          GEO        Georgia
15430           RAHIMOV, Vitaliy    Men          AZE     Azerbaijan
15431             GUENOT, Steeve    Men          FRA         France
15432              LOPEZ, Mijain    Men          CUB           Cuba

      Event_gender   Medal
0                W  Silver
1                M  Bronze
2                M    Gold
3                M  Silver
4                W  Bronze
5                M  Silver
6                W    Gold
7                W  Bronze
8                M    Gold
9                M  Bronze
10               W  Silver
11               W    Gold
12               W    Gold
13               M  Silver
14               W  Silver
15               M  Bronze
16               M  Bronze
17               W    Gold
18               W  Silver
19               W    Gold
20               W  Bronze
21               M  Silver
22               M    Gold
23               M  Silver
24               M  Silver
25               M  Bronze
26               M    Gold
27               M  Bronze
28               M    Gold
29               M  Silver
...            ...     ...
15403            M  Silver
15404            W  Bronze
15405            W  Bronze
15406            M  Silver
15407            M  Bronze
15408            M  Bronze
15409            M  Silver
15410            M  Bronze
15411            M    Gold
15412            M  Bronze
15413            M    Gold
15414            M  Bronze
15415            M  Bronze
15416            M  Silver
15417            M  Bronze
15418            M  Bronze
15419            M  Silver
15420            M  Bronze
15421            M  Bronze
15422            M    Gold
15423            M    Gold
15424            M  Bronze
15425            M  Bronze
15426            M  Silver
15427            M  Silver
15428            M  Bronze
15429            M    Gold
15430            M  Silver
15431            M    Gold
15432            M    Gold

[15433 rows x 11 columns]>

In [7]:
db.isnull().sum() 
# showing missing values in every row, 117 values missing in all

City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
dtype: int64

In [8]:
db.isnull().any()
# so there are missing values in all rows, showing true for all

City            True
Year            True
Sport           True
Discipline      True
Event           True
Athlete         True
Gender          True
Country_Code    True
Country         True
Event_gender    True
Medal           True
dtype: bool

In [9]:
db.isnull().count()
# shows the count of all elements including all, regardless of missing or not

City            15433
Year            15433
Sport           15433
Discipline      15433
Event           15433
Athlete         15433
Gender          15433
Country_Code    15433
Country         15433
Event_gender    15433
Medal           15433
dtype: int64

In [10]:
db.isnull().sum().sum()
# this is total number of missing values

1287

In [11]:
db.shape
# no of rows and columns

(15433, 11)

In [12]:
db.describe()
# shows the stats of data

               Year
count  15316.000000
mean    1993.620789
std       10.159851
min     1976.000000
25%     1984.000000
50%     1996.000000
75%     2004.000000
max     2008.000000

In [13]:
db.head(10)

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
5,Montreal,1976.0,Aquatics,Diving,10m platform,"LOUGANIS, Gregory",Men,USA,United States,M,Silver
6,Montreal,1976.0,Aquatics,Diving,10m platform,"VAYTSEKHOVSKAYA, Elena",Women,URS,Soviet Union,W,Gold
7,Montreal,1976.0,Aquatics,Diving,3m springboard,"POTTER-MCINGVALE, Cynthia",Women,USA,United States,W,Bronze
8,Montreal,1976.0,Aquatics,Diving,10m platform,"DIBIASI, Klaus",Men,ITA,Italy,M,Gold
9,Montreal,1976.0,Aquatics,Diving,10m platform,"ALEINIK, Vladimir",Men,URS,Soviet Union,M,Bronze

# logistic regression

In [14]:
y = db['Discipline']

db.drop("Discipline",axis=1,inplace = True)
db.drop("Athlete",axis=1,inplace = True)
db.drop("Event",axis=1,inplace = True)
db.drop("City",axis=1,inplace = True)
db.drop("Country_Code",axis=1,inplace = True)
db.drop("Event_gender",axis=1,inplace=True)

In [15]:
db.head()

     Year     Sport Gender        Country   Medal
0  1976.0  Aquatics  Women   East Germany  Silver
1  1976.0  Aquatics    Men   Soviet Union  Bronze
2  1976.0  Aquatics    Men  United States    Gold
3  1976.0  Aquatics    Men          Italy  Silver
4  1976.0  Aquatics  Women  United States  Bronze

In [16]:
db.isnull().sum().sum()

585

In [17]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 5 columns):
Year       15316 non-null float64
Sport      15316 non-null object
Gender     15316 non-null object
Country    15316 non-null object
Medal      15316 non-null object
dtypes: float64(1), object(4)
memory usage: 602.9+ KB

In [18]:
print(db.isnull().sum())

Year       117
Sport      117
Gender     117
Country    117
Medal      117
dtype: int64

In [19]:
updated_db= db
updated_db['Year']=updated_db['Year'].fillna(updated_db['Year'].mean())
updated_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 5 columns):
Year       15433 non-null float64
Sport      15316 non-null object
Gender     15316 non-null object
Country    15316 non-null object
Medal      15316 non-null object
dtypes: float64(1), object(4)
memory usage: 602.9+ KB

In [20]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(db,y,test_size=0.3)
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_text)
print(metrics.accuracy_score(pred,y_test))

C:\Users\Rashmi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'Gold'

In [1]:
# the missing values are dealt with acoording to their dtype
# int type are easily imputated using fillna
# object type have to be converted to int type for machine to understand it so using label encoder

In [21]:
print(db.isnull().sum())

Year         0
Sport      117
Gender     117
Country    117
Medal      117
dtype: int64

In [22]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [25]:
# db['Gender']=label_encoder.fit_transform(db['Gender'])
db['Gender'].unique()

# couldnt convert object using label encoder cause it is only for strings and objects cannot be changed
# so removing the missing value rows is better as the data size is hugh too so it wont affect the result much

array(['Women', 'Men', nan], dtype=object)

In [42]:
db.dropna(how = 'all',subset=['Gender'], inplace=True)
# using dropna the nan values are removed in pandas 
# how all removes all nan values found, subset gives the list of columns, inplace true keeps dataFrame 
# with valid entries in the same variable
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [44]:
db = db.reset_index(drop=True)

In [45]:
print(db.isnull().sum())

Year       0
Sport      0
Gender     0
Country    0
Medal      0
dtype: int64

In [47]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15316 entries, 0 to 15315
Data columns (total 5 columns):
Year       15316 non-null float64
Sport      15316 non-null object
Gender     15316 non-null object
Country    15316 non-null object
Medal      15316 non-null object
dtypes: float64(1), object(4)
memory usage: 598.4+ KB

In [49]:
y = db['Country']

In [51]:
db.drop("Country",axis=1, inplace=True)

In [58]:
# db =db.convert_objects(convert_numeric=True)

In [69]:
db['Gender'] = db['Gender'].apply(pd.to_numeric, errors='coerce')
db['Medal'] = db['Medal'].apply(pd.to_numeric, errors='coerce')
# maybe performing lambda fn will work better, replace gold with 1 etc. converting gender to boolean fn

In [70]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 11 columns):
City            15316 non-null object
Year            15316 non-null float64
Sport           15316 non-null object
Discipline      15316 non-null object
Event           15316 non-null object
Athlete         15316 non-null object
Gender          0 non-null float64
Country_Code    15316 non-null object
Country         15316 non-null object
Event_gender    15316 non-null object
Medal           0 non-null float64
dtypes: float64(3), object(8)
memory usage: 1.3+ MB

In [72]:
db

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"K�HLER, Christa",NaN,GDR,East Germany,W,NaN
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",NaN,URS,Soviet Union,M,NaN
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",NaN,USA,United States,M,NaN
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",NaN,ITA,Italy,M,NaN
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",NaN,USA,United States,W,NaN
5,Montreal,1976.0,Aquatics,Diving,10m platform,"LOUGANIS, Gregory",NaN,USA,United States,M,NaN
6,Montreal,1976.0,Aquatics,Diving,10m platform,"VAYTSEKHOVSKAYA, Elena",NaN,URS,Soviet Union,W,NaN
7,Montreal,1976.0,Aquatics,Diving,3m springboard,"POTTER-MCINGVALE, Cynthia",NaN,USA,United States,W,NaN
8,Montreal,1976.0,Aquatics,Diving,10m platform,"DIBIASI, Klaus",NaN,ITA,Italy,M,NaN
9,Montreal,1976.0,Aquatics,Diving,10m platform,"ALEINIK, Vladimir",NaN,URS,Soviet Union,M,NaN
10,Montreal,1976.0,Aquatics,Diving,10m platform,"KNAPE-LINDBERGH, Ulrika",NaN,SWE,Sweden,W,NaN
11,Montreal,1976.0,Aquatics,Diving,3m springboard,"CHANDLER, Jennifer Kay",NaN,USA,United States,W,NaN
12,Montreal,1976.0,Aquatics,Swimming,4x100m freestyle relay,"BABASHOFF, Shirley Farber",NaN,USA,United States,W,NaN
13,Montreal,1976.0,Aquatics,Swimming,400m freestyle,"SHAW, Timothy Andrew",NaN,USA,United States,M,NaN
14,Montreal,1976.0,Aquatics,Swimming,4x100m freestyle relay,"PRIEMER, Petra",NaN,GDR,East Germany,W,NaN
15,Montreal,1976.0,Aquatics,Swimming,1500m freestyle,"HOLLAND, Stephen",NaN,AUS,Australia,M,NaN
16,Montreal,1976.0,Aquatics,Swimming,400m individual medley,"SMIRNOV, Andrei",NaN,URS,Soviet Union,M,NaN
17,Montreal,1976.0,Aquatics,Swimming,4x100m medley relay,"ANKE, Hannelore",NaN,GDR,East Germany,W,NaN
18,Montreal,1976.0,Aquatics,Swimming,800m freestyle,"BABASHOFF, Shirley Farber",NaN,USA,United States,W,NaN
19,Montreal,1976.0,Aquatics,Swimming,800m freestyle,"TH�MER, Petra",NaN,GDR,East Germany,W,NaN
20,Montreal,1976.0,Aquatics,Swimming,4x100m freestyle relay,"SMITH, Rebecca",NaN,CAN,Canada,W,NaN
21,Montreal,1976.0,Aquatics,Swimming,200m backstroke,"ROCCA, Peter Drake",NaN,USA,United States,M,NaN
22,Montreal,1976.0,Aquatics,Swimming,400m freestyle,"GOODELL, Brian Stuart",NaN,USA,United States,M,NaN
23,Montreal,1976.0,Aquatics,Swimming,400m individual medley,"MCKEE, Alexander Timothy",NaN,USA,United States,M,NaN
24,Montreal,1976.0,Aquatics,Swimming,4x100m medley relay,"EVANS, Clayton",NaN,CAN,Canada,M,NaN
25,Montreal,1976.0,Aquatics,Swimming,200m freestyle,"MONTGOMERY, James Paul",NaN,USA,United States,M,NaN
26,Montreal,1976.0,Aquatics,Swimming,100m butterfly,"VOGEL, Matthew Haynes",NaN,USA,United States,M,NaN
27,Montreal,1976.0,Aquatics,Swimming,100m backstroke,"MATTHES, Roland",NaN,GDR,East Germany,M,NaN
28,Montreal,1976.0,Aquatics,Swimming,100m backstroke,"NABER, John Phillips",NaN,USA,United States,M,NaN
29,Montreal,1976.0,Aquatics,Swimming,100m backstroke,"ROCCA, Peter Drake",NaN,USA,United States,M,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15403,Beijing,2008.0,Wrestling,Wrestling Free.,74 - 84kg,"ABDUSALOMOV, Yusup",NaN,TJK,Tajikistan,M,NaN
15404,Beijing,2008.0,Wrestling,Wrestling Free.,55 - 63kg,"SHALYGINA, Yelena",NaN,KAZ,Kazakhstan,W,NaN
15405,Beijing,2008.0,Wrestling,Wrestling Free.,48 - 55kg,"VERBEEK, Tonya",NaN,CAN,Canada,W,NaN
15406,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"CHANG, Yongxiang",NaN,CHN,China,M,NaN
15407,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"MIZGAITIS, Mindaugas",NaN,LTU,Lithuania,M,NaN
15408,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"YANAKIEV, Yavor",NaN,BUL,Bulgaria,M,NaN
15409,Beijing,2008.0,Wrestling,Wrestling Gre-R,- 55kg,"BAYRAMOV, Rovshan",NaN,AZE,Azerbaijan,M,NaN
15410,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"TENGIZBAYEV, Nurbakyt",NaN,KAZ,Kazakhstan,M,NaN
15411,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"ALBIEV, Islam-Beka",NaN,RUS,Russia,M,NaN
15412,Beijing,2008.0,Wrestling,Wrestling Gre-R,- 55kg,"AMOYAN, Roman",NaN,ARM,Armenia,M,NaN
15413,Beijing,2008.0,Wrestling,Wrestling Gre-R,84 - 96kg,"KHUSHTOV, Aslanbek",NaN,RUS,Russia,M,NaN
15414,Beijing,2008.0,Wrestling,Wrestling Gre-R,74 - 84kg,"AVLUCA, Nazmi",NaN,TUR,Turkey,M,NaN
15415,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"SIAMIONAU, Mikhail",NaN,BLR,Belarus,M,NaN
15416,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"BEGALIEV, Kanatbek",NaN,KGZ,Kyrgyzstan,M,NaN
15417,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"VARDANYAN, Armen",NaN,UKR,Ukraine,M,NaN
15418,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"TIUMENBAEV, Ruslan",NaN,KGZ,Kyrgyzstan,M,NaN
15419,Beijing,2008.0,Wrestling,Wrestling Gre-R,74 - 84kg,"FODOR, Zoltan",NaN,HUN,Hungary,M,NaN
15420,Beijing,2008.0,Wrestling,Wrestling Gre-R,84 - 96kg,"WHEELER, Adam",NaN,USA,United States,M,NaN
15421,Beijing,2008.0,Wrestling,Wrestling Gre-R,84 - 96kg,"MAMBETOV, Asset",NaN,KAZ,Kazakhstan,M,NaN
15422,Beijing,2008.0,Wrestling,Wrestling Gre-R,- 55kg,"MANKIEV, Nazyr",NaN,RUS,Russia,M,NaN
15423,Beijing,2008.0,Wrestling,Wrestling Gre-R,74 - 84kg,"MINGUZZI, Andrea",NaN,ITA,Italy,M,NaN
15424,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"PATRIKEEV, Yuri",NaN,ARM,Armenia,M,NaN
15425,Beijing,2008.0,Wrestling,Wrestling Gre-R,- 55kg,"PARK, Eun-Chul",NaN,KOR,"Korea, South",M,NaN
15426,Beijing,2008.0,Wrestling,Wrestling Gre-R,84 - 96kg,"ENGLICH, Mirko",NaN,GER,Germany,M,NaN
15427,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"BAROEV, Khasan",NaN,RUS,Russia,M,NaN
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",NaN,FRA,France,M,NaN
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",NaN,GEO,Georgia,M,NaN
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",NaN,AZE,Azerbaijan,M,NaN
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",NaN,FRA,France,M,NaN
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",NaN,CUB,Cuba,M,NaN

In [71]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(db,y,test_size=0.3)
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_text)
print(metrics.accuracy_score(pred,y_test))

ValueError: Found input variables with inconsistent numbers of samples: [15433, 15316]